<div style="width: 500px">

  <h1 [className]="average_score > 0.8 ? 'goodScore' : 'badScore'">{{lb_state}}</h1>

  <div>
    <canvas id="canvas">{{ chart}}</canvas>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortDirection="asc">

    <!-- Name Column -->
    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element" class="name">{{element.name}}</td>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
      <td mat-cell *matCellDef="let element">
        <div class="progress_bar">
          <div [className]="element.score_average > 0.8 ? 'bar bar_good_score' : 'bar bar_bad_score'" style="width: {{element.score_average * 100}}%;"></div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
  </table>
</div>
